body {

    color: #f7f7f7;/*We want a light text (color: #f7f7f7;) applied to the body (body {}) of the page.*/
  }

.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
}

/*This code accomplishes a few things:

.jumbotron tells the stylesheet to apply the changes only to divs with a class of "jumbotron."
We specify a background image, then tell the code where the image is stored.
The size of the background is set to span the entire width and height of the element, no matter the size of the viewport.
We've aligned the text to be in the center of the element.*/
